{% extends 'home.html' %}

{% block home %}

<div class="container " align="center">
    <h2>产品发布</h2>
    <br>
    {{错误}}
    <form action="{% url '产品发布页面'%}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
       <span>产品名称 </span>
       <br>
        <input type="text" style="width: 300px" value="请输入产品标题" name="产品名称">
        <br>
        <br>
        <span>产品简介</span>
        <br>
        <textarea  name="简介" cols="40" rows="10"> 请输入产品简介 </textarea>
        <br>
        <br>
        <span>产品链接</span>
        <br>
        <input type="text" style="width: 300px" value="http://" name="产品链接">
        <br>
        <br>
        <span>产品缩略图</span>
        <input type="file" name="图标">
        <br>
        <br>
        <span>产品清晰图</span>
        <input type="file" name="产品大图" >
        <br>
        <br>
        <input type="submit" style="width: 100px" value="发 布">

    </form>  

<div>

{% endblock home %}