{% extends 'home.html' %}

{% block home %}
<div class="container " align="center">
    <h2>产品列表页面</h2>
    {% for product in products.all  %}
    
    <div class="card">
        <!-- <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Content</p>
        </div> -->
        <img class="card-img-bottom" src="{{product.product_image.url}}" alt="">
    </div>
    <br>
    <a href="{{ product.id }}">{{product.title}}</a>
    <br>
    {{product.intro}}
    <hr>

    {% endfor %}



</div>
{% endblock home %}
